/* Estilos generales */
body {
    background-image: url(img/header.jpg);
    background-size: cover;
    background-repeat: no repeat;
    font-family: Arial, sans-serif;
    background-color: #02372e;
    color: #272727;
    image-rendering: auto;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    image-rendering: auto;
}

header a:hover{
    color: red;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.productos article {
    flex-basis: 300px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.productos article img {
    max-width: 100%;
    border-radius: 5px;
}

.productos article h2 {
    margin-top: 10px;
}

.productos article p {
    margin-bottom: 10px;
}

.productos article button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.productos article button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
