/* futbol.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

li.button.active, li.button:hover {
    background-color: #0056b3;
}

.box {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.box img {
    width: 100%;
    border-radius: 5px;
}

.cont_tapa {
    padding: 10px;
    text-align: left;
}

h3, h1 {
    margin: 5px 0;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #218838;}